importFrom( 'XML', 'xmlTreeParse', 'xmlRoot', 'xmlGetAttr', 'xmlName', 
            'xmlChildren')
importFrom( 'RBGL', 'kCliques' )
importFrom( 'RCurl', 'getURL', 'getURIAsynchronous', 'getBinaryURL', 
            'postForm', 'url.exists')
importFrom( 'graph', 'ugraph', 'graphAM', 'ftM2adjM')
importFrom( 'foreach', 'foreach', '%dopar%', '%do%', 'registerDoSEQ')
importFrom( 'parallel', 'detectCores', 'makeCluster', 'stopCluster',
            'clusterExport')
importFrom( 'doParallel', 'registerDoParallel')
importFrom( 'stats', 'quantile', 'na.omit', 'median', 'phyper', 'p.adjust',
            'setNames')
importFrom( 'utils', 'tail', 'write.table', 'read.table', 'browseURL', 'data',
            'download.file')
importFrom( 'grDevices', 'pdf', 'rainbow', 'dev.off')
importFrom( 'graphics', 'par', 'title')
importFrom( 'methods', 'as' )
importFrom( 'biomaRt', 'listDatasets', 'useMart', 'getBM')
importFrom( 'igraph', 'graph_from_adjacency_matrix', 'betweenness')
importFrom( 'methods', 'is')
importFrom( 'rJava',
    '.jinit', '.jaddClassPath', '.jnew', '.jcall')
import( 'openxlsx' )
import( 'circlize' )
export( 'CHRONOSrun' )
export( 'downloadPathways' )
export( 'downloadKEGGPathwayList' )
export( 'downloadMiRecords' )
export( 'createPathwayGraphs' )
export( 'extractLinearSubpathways' )
export( 'extractNonLinearSubpathways' )
export( 'scoreSubpathways' )
export( 'pathwayMeasures' )
export( 'importExpressions' )
export( 'visualizeResults' )
export( 'convertNomenclature' )
export( 'convertMiRNANomenclature' )
export( 'subpathwayKEGGmap' )
export( 'subpathwayMiRNAs' )
export( 'getEdgeTypes' )

